<h2>Liste des centres</h2>
<p *ngIf="message">{{ message }}</p>

<table border="1">
  <thead>
    <tr>
      <th>Code</th>
      <th>Nom</th>
      <th>Ville</th>
      <th>Adresse</th>
      <th>Affecter un agent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let centre of centres">
      <td>{{ centre.code }}</td>
      <td>{{ centre.nom }}</td>
      <td>{{ centre.ville }}</td>
      <td>{{ centre.adresse }}</td>
      <td>
        <select [(ngModel)]="selectedAgentMap[centre.id!]" (change)="message = ''">
          <option [value]="null" disabled selected>Choisir un agent</option>
          <option *ngFor="let agent of agents" [value]="agent.id">{{ agent.prenom }} {{ agent.nom }}</option>
        </select>
        <button (click)="affecterAgent(centre.id!)">Affecter</button>
      </td>
    </tr>
  </tbody>
</table>